body {
  font-family: proxima-nova, sans-serif;
  src: url("fonts/ProximaNova-Light.otf");
}

.logo {
  position: relative;
  width: 140px;
  height: 140px;
  background: #7481CF;
  font-weight: lighter;
  margin: 80px auto 0 auto;
}

.logo_text {
  position: absolute;
  padding: 42px;
  bottom: auto;
  font-size: 3em;
  color: #FFFFFF;
}

.header_phrase {
  font-family: proxima-nova, sans-serif;
  src: url("fonts/ProximaNova-Light.otf");
  margin-top: 80px;
  text-align: center;
  font-weight: lighter;
  padding: 0 50px 0 50px;
  font-size: 3em;
  color: #576571;
}

.steps_container {
  margin: 0 0 200px 0;
  padding: 0 150px 0 150px;
}

.steps {
  text-align: center;
}

.how_to_text {
  font-size: 2.4em;
  color: #576571;
  font-weight: lighter;
}

.how_to_icons {
  margin-top: 100px;
  height: 100px;
  width: 100px;
}

.button {
  margin: 0 auto 120px auto;
  position: relative;
  height: 100px;
  width: 300px;
  background: #7481CF;
}

.button_text {
  position:absolute;
  font-weight: lighter;
  padding: 22px 53px 22px 53px;
  font-size: 3em;
  color: #FFFFFF;
}
